.project-title {
    border-top: 1px solid $light-gray;
    color: $light-gray;
    margin: 0 0 0 0;
    padding-top: 1ex;
    padding-bottom: 1ex;
    text-align: left;

}

.project-col{
    float:right;
    max-width:40%;
    padding-top:7px;
}

.project-text{
    width:60%;
    text-align:justify;
}

@media screen and (max-width: 600px){
    
    .project-col{
        float:right;
        max-height:70px;
        padding-top:7px;
    }

    .project-text{
        width:100%;
        text-align:justify;
        padding-top:1em;
    }    
    
}