---
---

{% if entry.abbr %}
  {% if site.data.venues[entry.abbr] %}
    <abbr>[<a href="{{site.data.venues[entry.abbr].url}}" target="_blank">{{entry.abbr}}</a>]</abbr>
  {% else %}
    <abbr>[{{entry.abbr}}]</abbr>
  {% endif %}
{% endif %}

<div id="{{entry.key}}">
  {% if entry.type == "thesis" %}
    {{reference}}
  {% else %}
    <span class="title">{{entry.title}}</span>
    <span class="author">
      {% for author in entry.author_array %}
        {% if forloop.length == 1 %}
          {% if author == site.scholar %}
            <em>{{author.first}} {{author.last}}</em>
          {% else %}
            {{author.first}} {{author.last}} 
          {% endif %}
        {% else %}
          {% unless forloop.last %}
            {% if author.last == site.scholar.last_name %}
              <em>{{author.first}} {{author.last}}</em>,
            {% else %}
              {% if site.data.coauthors[author.first] %}
                <a href="{{site.data.coauthors[author.first].url}}" target="_blank">{{author.first}} {{author.last}}</a>, 
              {% else %}
                {{author.first}} {{author.last}},
              {% endif %}
            {% endif %}
          {% else %}
            {% if author.last == site.scholar.last_name %}
              and <em>{{author.first}} {{author.last}}</em>
            {% else %}
              {% if site.data.coauthors[author.first] %}
                <a href="{{site.data.coauthors[author.first].url}}" target="_blank">{{author.first}} {{author.last}}</a> 
              {% else %}
                and {{author.first}} {{author.last}} 
              {% endif %}
            {% endif %}
          {% endunless %}
        {% endif %}
      {% endfor %}
    </span>

    <span class="periodical">
    {% if entry.type == "article" %}
      <em>{{entry.journal}}</em>
    {% elsif entry.type == "inproceedings" %}
      <em>In {{entry.booktitle}}</em>
    {% endif %}
    </span>
  {% endif %}

  <span class="links">
  {% if entry.paper %}
    [<a href="{{ entry.paper }}" target="_blank">paper</a>]
  {% endif %}  
  {% if entry.osf %}
    [<a href="{{ entry.osf}}" target="_blank">OSF repo</a>]
  {% endif %} 
  {% if entry.poster%}
    [<a href="{{ entry.poster}}" target="_blank">poster</a>]
  {% endif %}   
  {% if entry.slides%}
    [<a href="{{ entry.slides}}" target="_blank">slides</a>]
  {% endif %} 
  {% if entry.abstract %}
    [<a class="abstract">abstract</a>]
  {% endif %}  
  </span>

  <!-- Hidden abstract block -->
  {% if entry.abstract %}
  <span class="abstract hidden">
    <p>{{ entry.abstract }}</p>
  </span>
  {% endif %}
</div>
